// Colors

$color-white: #ffffff;
$color-black: #333333;

$color-gray: #b0b0b0;
$color-dark-gray: #a5a5a5;
$color-light-gray: #f5f5f5;
$color-box-gray: #b0bec552;
$color-other-gray: #818181;
$color-border-gray: #c8c5d1;
$color-form-gray: #e7e5eb;
$color-fiol: #9873FF;
$color-fiol-light:#b89eff;
$color-fiol-dark:#8052ff;
$color-red: #F06A4D;

// $color-solitude: #E9EBF0;
// $color-granny-smith-apple: #9BE198;
// $color-fern: #6FC76C;
// $color-dim-gray: #737373;
// $color-vista-blue: #91D6AC;
// $color-white-smoke: #F8F8F8;

// Typography

$ff-mulish: "Noto Sans", "Arial", sans-serif;

// Viewport
$vp-small-desktop: 1239px;
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;
$transition600: ease-in 0.6s;
